## 다시 공부할 때 이거 확인해보자
https://welcome-to-dewy-world.tistory.com/57

https://bioinformaticsandme.tistory.com/290

https://www.jejudatahub.net/data/view/data/757

In [60]:
import numpy as np
import pandas as pd

In [61]:
china = pd.read_csv('중국인_관광객.csv', encoding='cp949')

In [62]:
china

,년월,이용자 구분,시도명,읍면동명,업종,방문인구,이용자수,이용금액,데이터기준일자
0,2018-01,중국인관광객,서귀포시,남원읍,쇼핑,179846.027,744,4.836000e+06,2020-12-15
1,2018-01,중국인관광객,제주시,연동,문화/레져,632381.932,744,3.943200e+06,2020-12-15
2,2018-01,중국인관광객,제주시,연동,소매,632381.932,2240928,5.050000e+11,2020-12-15
3,2018-01,중국인관광객,제주시,연동,쇼핑,632381.932,5039112,4.770000e+12,2020-12-15
4,2018-01,중국인관광객,제주시,연동,숙박,632381.932,178560,3.124794e+10,2020-12-15
...,...,...,...,...,...,...,...,...,...
2136,2018-12,중국인관광객,서귀포시,표선면,문화/레져,64744.126,4464,2.663520e+08,2020-12-15
2137,2018-12,중국인관광객,서귀포시,표선면,소매,64744.126,400272,1.080000e+11,2020-12-15
2138,2018-12,중국인관광객,서귀포시,표선면,쇼핑,64744.126,5952,1.702198e+08,2020-12-15
2139,2018-12,중국인관광객,제주시,삼도1동,소매,18223.999,3720,6.276384e+08,2020-12-15
2140,2018-12,중국인관광객,제주시,화북동,쇼핑,6393.284,4431,1.970719e+08,2020-12-15

In [63]:
china = china[['읍면동명', '업종', '방문인구', '이용자수', '이용금액']]
china.head()

  읍면동명     업종        방문인구     이용자수          이용금액
0  남원읍     쇼핑  179846.027      744  4.836000e+06
1   연동  문화/레져  632381.932      744  3.943200e+06
2   연동     소매  632381.932  2240928  5.050000e+11
3   연동     쇼핑  632381.932  5039112  4.770000e+12
4   연동     숙박  632381.932   178560  3.124794e+10

In [64]:
china.groupby('업종').mean().sort_values('이용금액', ascending=False)

                방문인구           이용자수          이용금액
업종
쇼핑      99781.281221  300367.704497  1.734011e+11
숙박     123125.126128   34124.563953  8.955665e+10
소매     115650.213881  198392.964865  3.918978e+10
문화/레져  139187.665776   29687.975104  1.513632e+10
식음료    105458.352475   97141.412162  6.010409e+09
유흥     235264.874411   10418.424658  1.850862e+09
교통     153144.701391    5052.792079  4.610133e+08

In [65]:
a =china.groupby('업종').mean().sort_values('이용금액', ascending=False)['이용금액'] / 1000000 #백만으로 나눔
a

업종
쇼핑       173401.069461
숙박        89556.650234
소매        39189.782745
문화/레져     15136.321272
식음료        6010.409433
유흥         1850.861638
교통          461.013347
Name: 이용금액, dtype: float64

In [66]:
round(a,1)

업종
쇼핑       173401.1
숙박        89556.7
소매        39189.8
문화/레져     15136.3
식음료        6010.4
유흥         1850.9
교통          461.0
Name: 이용금액, dtype: float64

In [67]:
china.groupby('읍면동명').mean().sort_values('이용금액', ascending=False)

              방문인구          이용자수          이용금액
읍면동명
연동    1.009798e+06  1.657570e+06  9.935595e+11
남원읍   1.650925e+05  4.700509e+03  2.088481e+11
한림읍   8.439962e+04  1.537970e+04  1.532736e+11
노형동   2.351444e+05  5.744336e+05  9.692362e+10
용담2동  5.660441e+05  5.681950e+05  9.489925e+10
성산읍   1.084873e+05  4.887776e+04  8.081864e+10
예래동   1.510839e+05  1.396851e+05  7.519815e+10
표선면   4.478697e+04  9.433531e+04  2.555268e+10
일도1동  8.215914e+03  1.321951e+05  1.829512e+10
이호동   1.644304e+04  3.236233e+04  1.136629e+10
안덕면   1.981352e+05  1.141437e+05  1.114098e+10
삼도2동  8.455892e+04  6.358444e+04  7.491452e+09
건입동   8.593640e+04  7.585618e+04  7.463991e+09
이도2동  3.823268e+04  3.048946e+04  7.461909e+09
중문동   4.897671e+04  2.644806e+04  3.989608e+09
애월읍   2.451357e+05  5.149913e+04  3.029174e+09
동홍동   3.495170e+04  1.571261e+04  2.482804e+09
정방동   3.837170e+04  2.829451e+04  2.477343e+09
천지동   7.290570e+04  2.169779e+04  1.619495e+09
중앙동   1.176390e+04  1.694245e+04  1.316297e+09
송산동   4.158472e+04  1.306332e+04  1.187172e+09
조천읍   6.644478e+04  2.177649e+04  1.089938e+09
이도1동  2.209721e+04  1.207073e+04  1.087957e+09
삼도1동  1.292812e+04  7.532389e+03  9.339970e+08
외도동   1.576734e+04  5.503628e+03  5.806998e+08
우도면   2.961820e+04  2.105469e+04  5.398013e+08
아라동   2.781369e+04  5.322720e+03  5.047287e+08
오라동   2.281743e+04  3.053326e+03  4.511205e+08
도두동   1.763902e+05  5.375111e+03  4.337426e+08
대천동   1.525909e+04  3.082500e+03  3.882399e+08
영천동   1.486907e+04  3.224892e+03  3.881411e+08
대정읍   3.395105e+04  5.667170e+03  3.780203e+08
구좌읍   4.100857e+04  7.744119e+03  3.669046e+08
일도2동  2.619039e+04  1.095046e+04  3.214074e+08
화북동   6.553523e+03  6.261478e+03  1.586383e+08
봉개동   3.265781e+04  1.426172e+03  1.249263e+08
용담1동  8.698717e+03  2.600830e+03  8.934889e+07
삼양동   7.422621e+03  1.663688e+03  6.813261e+07
서홍동   4.617845e+04  1.455500e+03  6.401326e+07
효돈동   3.816481e+03  1.163667e+03  2.751500e+07

In [68]:
b = china.groupby('읍면동명').mean().sort_values('이용금액', ascending=False)['이용금액'] / 1000000 # 백만으로 나눔
round(b,1)

읍면동명
연동      993559.5
남원읍     208848.1
한림읍     153273.6
노형동      96923.6
용담2동     94899.3
성산읍      80818.6
예래동      75198.1
표선면      25552.7
일도1동     18295.1
이호동      11366.3
안덕면      11141.0
삼도2동      7491.5
건입동       7464.0
이도2동      7461.9
중문동       3989.6
애월읍       3029.2
동홍동       2482.8
정방동       2477.3
천지동       1619.5
중앙동       1316.3
송산동       1187.2
조천읍       1089.9
이도1동      1088.0
삼도1동       934.0
외도동        580.7
우도면        539.8
아라동        504.7
오라동        451.1
도두동        433.7
대천동        388.2
영천동        388.1
대정읍        378.0
구좌읍        366.9
일도2동       321.4
화북동        158.6
봉개동        124.9
용담1동        89.3
삼양동         68.1
서홍동         64.0
효돈동         27.5
Name: 이용금액, dtype: float64

In [69]:
china.head(10)

  읍면동명     업종        방문인구     이용자수          이용금액
0  남원읍     쇼핑  179846.027      744  4.836000e+06
1   연동  문화/레져  632381.932      744  3.943200e+06
2   연동     소매  632381.932  2240928  5.050000e+11
3   연동     쇼핑  632381.932  5039112  4.770000e+12
4   연동     숙박  632381.932   178560  3.124794e+10
5   연동    식음료  632381.932   955296  4.474613e+10
6   연동     유흥  632381.932    32736  6.027218e+09
7  애월읍    식음료   86621.579    63240  1.641487e+09
8  오라동     쇼핑   10420.408     1488  3.052632e+07
9  오라동    식음료   10420.408      744  4.240800e+07

In [73]:
china.방문인구 = china.방문인구.apply(np.round)

C:\Users\019\AppData\Local\Temp\ipykernel_864\1340084242.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  china.방문인구 = china.방문인구.apply(np.round)

In [76]:
china.방문인구 = china.방문인구.apply(int)

C:\Users\019\AppData\Local\Temp\ipykernel_864\2312130812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  china.방문인구 = china.방문인구.apply(int)

In [77]:
china.head()

  읍면동명     업종    방문인구     이용자수          이용금액
0  남원읍     쇼핑  179846      744  4.836000e+06
1   연동  문화/레져  632382      744  3.943200e+06
2   연동     소매  632382  2240928  5.050000e+11
3   연동     쇼핑  632382  5039112  4.770000e+12
4   연동     숙박  632382   178560  3.124794e+10

In [78]:
pd.get_dummies(china['읍면동명'])

,건입동,구좌읍,남원읍,노형동,대정읍,대천동,도두동,동홍동,봉개동,삼도1동,...,일도2동,정방동,조천읍,중문동,중앙동,천지동,표선면,한림읍,화북동,효돈동
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2136,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2138,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2139,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2140,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [80]:
pd.get_dummies(china['업종'])

      교통  문화/레져  소매  쇼핑  숙박  식음료  유흥
0      0      0   0   1   0    0   0
1      0      1   0   0   0    0   0
2      0      0   1   0   0    0   0
3      0      0   0   1   0    0   0
4      0      0   0   0   1    0   0
...   ..    ...  ..  ..  ..  ...  ..
2136   0      1   0   0   0    0   0
2137   0      0   1   0   0    0   0
2138   0      0   0   1   0    0   0
2139   0      0   1   0   0    0   0
2140   0      0   0   1   0    0   0

[2141 rows x 7 columns]

In [91]:
china_onehot = pd.concat([pd.get_dummies(china['업종']), pd.get_dummies(china['읍면동명']), china[['방문인구', '이용자수', '이용금액']]], axis=1)
china_onehot

,교통,문화/레져,소매,쇼핑,숙박,식음료,유흥,건입동,구좌읍,남원읍,...,중문동,중앙동,천지동,표선면,한림읍,화북동,효돈동,방문인구,이용자수,이용금액
0,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,179846,744,4.836000e+06
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,632382,744,3.943200e+06
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,632382,2240928,5.050000e+11
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,632382,5039112,4.770000e+12
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,632382,178560,3.124794e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2136,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,64744,4464,2.663520e+08
2137,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,64744,400272,1.080000e+11
2138,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,64744,5952,1.702198e+08
2139,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18224,3720,6.276384e+08
2140,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,6393,4431,1.970719e+08

In [94]:
china_onehot.iloc[:,-1]

0       4.836000e+06
1       3.943200e+06
2       5.050000e+11
3       4.770000e+12
4       3.124794e+10
            ...
2136    2.663520e+08
2137    1.080000e+11
2138    1.702198e+08
2139    6.276384e+08
2140    1.970719e+08
Name: 이용금액, Length: 2141, dtype: float64

In [96]:
import matplotlib.pylab as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(china_onehot.iloc[:,:-1], china_onehot.iloc[:,-1], test_size=0.2, random_state=0)
# 선형 회귀 모델로 학습을 수행한다.
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [97]:
from sklearn.metrics import r2_score
pred = model.predict(X_test)

r2_score(y_test, pred)

0.7552762737229961

## 예상 값을 집어넣어보자

In [187]:
predict = np.zeros(49, dtype= np.int32)
# 2번째 값인 소매와 9번째 값인 남원읍
# -3번째 값인 방문인구, -2번째 값인 이용자수
# 남원읍에서 진행된 소매업의 매출을 예측해보자
predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0])

In [188]:
china_onehot.iloc[:,-2]

0           744
1           744
2       2240928
3       5039112
4        178560
         ...
2136       4464
2137     400272
2138       5952
2139       3720
2140       4431
Name: 이용자수, Length: 2141, dtype: int64

In [189]:
predict[2] = 1 # 소매
predict[9] = 1 # 남원읍
predict[-3] = 100000 # 방문인구 10만
predict[-2] = 1000 # 이용자수 천

In [190]:
predict = predict.reshape(-1,49)

In [191]:
predict

array([[     0,      0,      1,      0,      0,      0,      0,      0,
             0,      1,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0,      0,      0,
             0,      0,      0,      0,      0,      0, 100000,   1000,
             0]])

In [194]:
pred1 = model.predict(predict)

C:\Users\019\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [195]:
pred1[0]

-3.7111046516638363e+22

# 예측이 정확히 나타나지는 않는다..

## OLS 진행

In [95]:
import statsmodels.api as sm
from scipy import stats

X = china_onehot.iloc[:,:-1]
y = china_onehot.iloc[:,-1]

X2 = sm.add_constant(X)
est = sm.OLS(y, X2)
est2 = est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   이용금액   R-squared:                       0.699
Model:                            OLS   Adj. R-squared:                  0.693
Method:                 Least Squares   F-statistic:                     103.6
Date:                Thu, 28 Jul 2022   Prob (F-statistic):               0.00
Time:                        12:06:18   Log-Likelihood:                -59258.
No. Observations:                2141   AIC:                         1.186e+05
Df Residuals:                    2093   BIC:                         1.189e+05
Df Model:                          47
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       7.667e+09   8.64e+09      0.888      0.375   -9.27e+09    2.46e+10
교통          2.527e+10   1.72e+10      1.470      0.142   -8.45e+09     5.9e+10
문화/레져       4.577e+09   1.58e+10      0.290      0.772   -2.64e+10    3.56e+10
소매         -7.238e+10   1.31e+10     -5.506      0.000   -9.82e+10   -4.66e+10
쇼핑         -8.396e+09   1.24e+10     -0.680      0.497   -3.26e+10    1.58e+10
숙박          8.034e+10   1.35e+10      5.945      0.000    5.38e+10    1.07e+11
식음료        -4.687e+10   1.22e+10     -3.834      0.000   -7.08e+10   -2.29e+10
유흥          2.512e+10   2.74e+10      0.916      0.360   -2.86e+10    7.89e+10
건입동        -2.779e+10   3.37e+10     -0.826      0.409   -9.38e+10    3.82e+10
구좌읍         1.481e+09   3.14e+10      0.047      0.962   -6.01e+10     6.3e+10
남원읍         2.277e+11   3.47e+10      6.563      0.000     1.6e+11    2.96e+11
노형동        -2.374e+11   3.17e+10     -7.497      0.000      -3e+11   -1.75e+11
대정읍         1.022e+10   3.52e+10      0.290      0.772   -5.89e+10    7.93e+10
대천동        -6.169e+09   4.05e+10     -0.152      0.879   -8.55e+10    7.32e+10
도두동         1.543e+10   3.51e+10      0.440      0.660   -5.34e+10    8.42e+10
동홍동         1.048e+10   3.78e+10      0.277      0.782   -6.37e+10    8.46e+10
봉개동         4.326e+09   4.71e+10      0.092      0.927    -8.8e+10    9.67e+10
삼도1동       -6.875e+08   3.51e+10     -0.020      0.984   -6.95e+10    6.82e+10
삼도2동       -1.839e+10   3.46e+10     -0.531      0.595   -8.62e+10    4.95e+10
삼양동         7.156e+09   4.52e+10      0.158      0.874   -8.14e+10    9.57e+10
서홍동         2.104e+10   5.66e+10      0.372      0.710      -9e+10    1.32e+11
성산읍         6.289e+10    3.1e+10      2.032      0.042    2.19e+09    1.24e+11
송산동        -9.353e+09   3.98e+10     -0.235      0.814   -8.75e+10    6.88e+10
아라동         1.623e+09   3.62e+10      0.045      0.964   -6.94e+10    7.27e+10
안덕면        -3.665e+10   3.06e+10     -1.196      0.232   -9.67e+10    2.34e+10
애월읍         3.959e+09   3.26e+10      0.121      0.903      -6e+10    6.79e+10
연동          8.952e+10   7.43e+10      1.206      0.228   -5.61e+10    2.35e+11
영천동         -7.47e+09    4.2e+10     -0.178      0.859   -8.99e+10    7.49e+10
예래동         5.697e+09   3.08e+10      0.185      0.853   -5.46e+10     6.6e+10
오라동         5.285e+09   3.78e+10      0.140      0.889   -6.88e+10    7.93e+10
외도동        -7.567e+08   3.91e+10     -0.019      0.985   -7.74e+10    7.59e+10
용담1동       -3.208e+07   3.75e+10     -0.001      0.999   -7.35e+10    7.35e+10
용담2동       -1.816e+11   4.72e+10     -3.844      0.000   -2.74e+11   -8.89e+10
우도면         6.549e+08    3.5e+10      0.019      0.985    -6.8e+10    6.93e+10
이도1동        3.285e+09   3.67e+10      0.090      0.929   -6.86e+10    7.52e+10
이도2동        -1.04e+10   3.06e+10     -0.340      0.734   -7.04e+10    4.96e+10
이호동         3.135e+09    3.7e+10      0.085      0.933   -6.95e+10    7.58e+10
일도1동       -5.233e+10   3.52e+10     -1.486      0.137   -1.21e+11    1.67e+10
일도2동        1.516e+09    3.5e+10      0.043      0.965    -6.7e+10    7.01e+10
정방동        -1.397e+10   3.07e+10     -0.455      0.649   -7.42e+10    4.63e+10
조천읍        -5.869e+09   3.17e+10     -0.185      0.853    -6.8e+10    5.62e+10
중문동        -8.563e+09   3.18e+10     -0.269      0.788   -7.09e+10    5.38e+10
중앙동        -5.403e+09   3.54e+10     -0.152      0.879   -7.49e+10    6.41e+10
천지동        -5.479e+09   3.14e+10     -0.174      0.862   -6.71e+10    5.61e+10
표선면        -2.283e+10   3.36e+10     -0.679      0.497   -8.88e+10    4.31e+10
한림읍         1.522e+11   3.12e+10      4.885      0.000    9.11e+10    2.13e+11
화북동         2.858e+09   5.31e+10      0.054      0.957   -1.01e+11    1.07e+11
효돈동         2.836e+10   5.98e+10      0.474      0.636    -8.9e+10    1.46e+11
방문인구       -1.511e+05   7.33e+04     -2.061      0.039   -2.95e+05   -7348.578
이용자수        6.327e+05   1.07e+04     58.947      0.000    6.12e+05    6.54e+05
==============================================================================
Omnibus:                      841.819   Durbin-Watson:                   2.291
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           673238.453
Skew:                          -0.103   Prob(JB):                         0.00
Kurtosis:                      89.872   Cond. No.                     1.01e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.16e-20. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.