In [7]:
import pandas as pd
import openpyxl
import os

In [8]:
df = pd.read_excel('C:/python/sample/anime.xlsx')

In [9]:
df

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193
...,...,...,...,...,...,...,...
2303,34416,The Snack World: Hitogirai no Renny,"Adventure, Comedy, Fantasy, Kids",Movie,1,NaN,36
2304,34498,"Uchiage Hanabi, Shita kara Miru ka? Yoko kara ...",Drama,Movie,1,NaN,531
2305,32222,Youkai Watch Movie 3: Soratobu Kujira to Doubl...,"Comedy, Kids, Supernatural",Movie,1,NaN,237
2306,34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1,NaN,169
2307,33390,Zunda Horizon,NaN,Movie,1,NaN,160

In [10]:
!pip install pandasql

Requirement already satisfied: pandasql in c:\users\019\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: sqlalchemy in c:\users\019\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: pandas in c:\users\019\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: numpy in c:\users\019\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\019\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\019\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\019\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\019\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)

In [16]:
from pandasql import sqldf

dfsql = lambda q:sqldf(q,globals())
result = dfsql("select name,episodes from df where type='Movie'")
result

                                                   name episodes
0                                        Kimi no Na wa.        1
1     Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...        1
2                                        Koe no Katachi        1
3                         Sen to Chihiro no Kamikakushi        1
4                          Ookami Kodomo no Ame to Yuki        1
...                                                 ...      ...
2303                The Snack World: Hitogirai no Renny        1
2304  Uchiage Hanabi, Shita kara Miru ka? Yoko kara ...        1
2305  Youkai Watch Movie 3: Soratobu Kujira to Doubl...        1
2306                               Youkai Watch Movie 4        1
2307                                      Zunda Horizon        1

[2308 rows x 2 columns]

In [19]:
# 정렬을 episodes 내림차순으로 바꾸고 싶음
from pandasql import sqldf

dfsql = lambda q:sqldf(q,globals())
result = dfsql("select name,episodes from df where type='Movie' order by episodes desc")
result
# json으로 저장할 때 속성은 table
result.to_json('sample.json', orient='table')

http://json.parser.online.fr/

json으로 저장하면 알아보기 어렵지만 위의 사이트에서 보기 좋게 바꿔주는 일을 함

In [18]:
result.head(20)

                                                 name episodes
0                                         Animegatari  Unknown
1                        Ao Oni The Animation (Movie)  Unknown
2                                        Blame! Movie  Unknown
3                                            Godzilla  Unknown
4   Visions of Frank: Short Films by Japan&#039;s ...        9
5                                        Genius Party        7
6                      Kara no Kyoukai: Manner Movies        7
7                                      Byulbyul Iyagi        6
8                                    Byulbyul Iyagi 2        6
9                                      Yuuyake Dandan        6
10                                Genius Party Beyond        5
11                            Norabbits&#039; Minutes        5
12                 Peeping Life: Gekijou Original-ban        5
13  Mahou Shoujo Madoka★Magica Movie 3: Hangyaku n...        4
14                                              Michi        4
15                              Byousoku 5 Centimeter        3
16                                           Memories        3
17                                Pikmin Short Movies        3
18                    Manie-Manie: Meikyuu Monogatari        3
19                                              Baton        3

# HTML

In [20]:
# url로 해서 땡겨오기
url = 'https://docs.python.org/3/py-modindex.html'
table = pd.read_html(url)

In [21]:
table

[      0           1                                                  2
 0   NaN         NaN                                                NaN
 1   NaN           _                                                NaN
 2   NaN  __future__                       Future statement definitions
 3   NaN    __main__  The environment where top-level code is run. C...
 4   NaN     _thread                           Low-level threading API.
 ..   ..         ...                                                ...
 385 NaN      zipapp              Manage executable Python zip archives
 386 NaN     zipfile           Read and write ZIP-format archive files.
 387 NaN   zipimport  Support for importing Python modules from ZIP ...
 388 NaN        zlib  Low-level interface to compression and decompr...
 389 NaN    zoneinfo                             IANA time zone support

 [390 rows x 3 columns]]

In [22]:
# 결측값을 지워서 가져오도록 함
table[0].loc[:,1:].dropna().head(10)

             1                                                  2
2   __future__                       Future statement definitions
3     __main__  The environment where top-level code is run. C...
4      _thread                           Low-level threading API.
7          abc    Abstract base classes according to :pep:`3119`.
8         aifc  Deprecated:  Read and write audio files in AIF...
9     argparse  Command-line option and argument parsing library.
10       array  Space efficient arrays of uniformly typed nume...
11         ast     Abstract Syntax Tree classes and manipulation.
12    asynchat  Deprecated:  Support for asynchronous command/...
13     asyncio                                  Asynchronous I/O.